@model CoutureEvents.Models.CompleteForgotPasswordModel
@{
    ViewBag.Title = "CompleteForgotPassword";
}

<h2>CompleteForgotPassword</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="whitebackground">
        <fieldset>
            <div>
                @Html.LabelFor(m => m.NewPassword)
                <br />
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "Form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div>
                @Html.LabelFor(m => m.ResetToken)
                <br />
                @Html.TextBoxFor(m => m.ResetToken, new { @class = "Form-control" })
                @Html.ValidationMessageFor(m => m.ResetToken)
            </div>

          

            <input type="submit" value="Submit" />

        </fieldset>
    </div>
}

