<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="/Content/CElogo.png" /></a>
            </div>
            <div class="navbar-collapse collapse container">
                <ul class="nav navbar-nav">
                    <li class="navfont">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="navfont">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="navfont">@Html.ActionLink("Services", "List", "Product")</li>
                    <li class="navfont">@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                    <li class="navfont">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="navfont">@Html.ActionLink("Register", "Register", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="navfont">@Html.ActionLink("Admin", "Index", "ProductAdmin")</li>
                    }
                    <p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span>Welcome @User.Identity.Name</span>
                            <span>@Html.ActionLink("Log Out", "Logout", "Account")</span>
                        }
                        else
                        {
                            <span> @Html.ActionLink("Log in", "Login", "Account")</span>
                        }
                    </p>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div >
            <footer>
                <div>
                    <a href="https://www.instagram.com" target="_blank"> <img src="~/Content/instagramBtn.png" /> </a>
                </div>
                <div>
                    <a href="https://www.facebook.com" target="_blank"> <img src="~/Content/facebookBtn.png" /></a>
                </div>
                <div>
                    <a href="https://www.twitter.com" target="_blank"> <img src="~/Content/twitterBtn.png" /> </a>
                </div>
                <div>
                    <a href="https://www.weddingwire.com" target="_blank"> <img src="~/Content/weddingWireBtn.png" /> </a>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
