@model CoutureEvents.Models.CustomerModel
@{  
    ViewBag.Title = "Register";
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset class="whitebackground">
        <h2>Register</h2>
        <div class="row">
            <div class="col-md-4">

                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label>Bride First Name:</label>
                    <br />
                    @Html.TextBoxFor(m => m.BrideFirstName, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.BrideFirstName)
                </div>
                <div class="form-group">
                    <label>Bride Last Name:</label>
                    <br />
                    @Html.TextBoxFor(m => m.BrideLastName, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.BrideLastName)
                </div>

            <div class="form-group">
               <label>Groom First Name:</label>
                <br />
                    @Html.TextBoxFor(m => m.GroomFirstName, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.GroomFirstName)
                </div>
            <div class="form-group">
                <label>Groom Last Name: </label>
                <br />
                    @Html.TextBoxFor(m => m.GroomLastName, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.GroomLastName)
                </div>
        </div>


        <div class="col-md-4">

            <div class="form-group">
                <label>Phone Number:</label>
                <br />
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>

            <div class="form-group">
                <label>Email:</label>
                <br />
                    @Html.TextBoxFor(m => m.Email, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

            <div class="form-group">
                <label>Address: </label>
                <br />
                    @Html.TextBoxFor(m => m.Address, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>

            <div class="form-group">
                <label>City: </label>
                <br />
                    @Html.TextBoxFor(m => m.City, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
            <div class="form-group">
                <label> Password</label>
                <br />
                @Html.TextBoxFor(m => m.Password, new { @class = "Form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

        </div>

        <div class="col-md-4">

            <div class="form-group">
                <label>Wedding Date: </label>
                <br />
                    @Html.TextBoxFor(m => m.WeddingDate, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.WeddingDate)
                </div>

            <div class="form-group">
                <label>Number of Guests:</label>
                <br />
                    @Html.TextBoxFor(m => m.NumberOfGuests, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.NumberOfGuests)
                </div>

            <div class="form-group">
                <label> Number of Bridesmaids: </label>
                <br />
                    @Html.TextBoxFor(m => m.NumberOfBridesmaids, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.NumberOfBridesmaids)
                </div>

            <div class="form-group">
                <label> Number of Groomsmen:</label>
                <br />
                    @Html.TextBoxFor(m => m.NumberOfGroomsmen, new { @class = "Form-control" })
                    @Html.ValidationMessageFor(m => m.NumberOfGroomsmen)
                </div>

        </div>
    </div>

        <input id="submit" type="submit" />
    </fieldset>


}







